@model PieWorkShop.Models.Student

@{
    ViewData["Title"] = "Details";
}
<br>
<h2>Student Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
    </dl>
</div>


<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" asp-controller="Student" asp-action="Edit" asp-route-id2="@Model?.StudentID">Edit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" asp-controller="Student" asp-action="Remove" asp-route-id3="@Model?.StudentID" >Remove</a>
  </li>
  <li class="nav-item">
    @if ( Model.TeamName == "A"|| Model.TeamName == "a")
    {
        <a class="nav-link" asp-controller="Student" asp-action="ListA">Root</a>
    }
    @if (Model.TeamName == "B"|| Model.TeamName == "b")
    {
        <a class="nav-link" asp-controller="Student" asp-action="ListB">Root</a>
    }
    @if (Model.TeamName == "C"|| Model.TeamName == "c")
    {
        <a class="nav-link" asp-controller="Student" asp-action="ListC">Root</a>
    }
    @if (Model.TeamName == "D"|| Model.TeamName == "d")
    {
        <a class="nav-link" asp-controller="Student" asp-action="ListD">Root</a>
    }    
  </li>
</ul>




 